h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 800;
}
input {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}
.item-container {
  text-align: left;
}
.own-Row {
  margin: 8px 5px;
}
.own-Button{
    min-width: 80px;
}