.calculator{
    border: 1px solid black;
    width: 70%;
    border-radius: 9px;
}
.input_display{
    width: 300px;
    margin: 10px;
    font-size:xx-large;
}
.btn_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    width: 90px;
    height: 40px;
    font-size: x-large;
    margin: 5px; 
}